* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

ul {
  list-style: none;
}

button {
  width: fit-content;
  margin: 0 auto;
}

main {
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}