@font-face {
  font-family: 'main';
  src: url('../assets/PixeloidSans-mLxMm.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'main', sans-serif;
  color: black;
}


html {
  background: url('../assets/pokemongBackground.png') no-repeat center center;
  background-size: cover;
}

#root {
  min-height: 100vh;
  height: auto;
}

ul {
  list-style: none;
}

button {
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
  border: 2px rgb(0, 0, 0, 0.7) solid;
  background: transparent;
  font-weight: 800;
}

button:hover {
  cursor: grab;
  transform: scale(1.1); 
  border: 2px rgba(255, 255, 255, 0.7) solid;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}